html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "apercu",sans-serif;
    /* "apercu",sans-serif */
}
.mother{
    background: #92b1ef82;
}
#orderForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}
input{
    border-radius: 10px;
    width: 500px;
    margin: 5px;
    padding: 5px;
    border: none;
}
.FullAd{
    height: 65px;
}
.Lc{
    color: black;
    font-weight: bold;
}
.do{
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin: 8px;
}
.btn2{
	width: 90px;
    height: 40px;
    color: black;
    background: rgb(255 145 0);
    border: none;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
#terms{
    background-color: transparent;
    outline: none;
    border: none;
    color: #ff2659;
    font-weight: bold;
    cursor: pointer;
}
#terms:hover{
    color: #9e0025;
}
@media (max-width: 580px) {
    input{
        width: 260px;
        height: 20px;
    }
    #orderForm{
        align-items: center;
        justify-content: center;
        position: relative;
        justify-content: center;
    }
}
